# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Edwin Jarvis\Desktop\repos\250-Problems\30DaysOfCode\random-codeforces-900\1481A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
