# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Edwin Jarvis\Desktop\repos\250-Problems\30DaysOfCode\Day4\D2-P6-202A\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
